* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
/* containers */
.main {
  display:flex;
  justify-content: center;
}
.container {
  max-width: 80rem;
  width:100%;
}
/* navbar */
.navbar {
  padding:40px;  
  position:relative;
}
.title {
  padding-left:30px;
  align-self: center;
}
.search-div {
  padding-right:30px;
  display:flex;
  align-items: center;
  gap:5px;
  border:1px solid rgb(233, 222, 222);
  border-radius:20px;
  box-shadow: 10px 10px 10px rgb(235, 229, 229);
  cursor:pointer;
}
.search-logo {
  width:25px;
}
.search-div div:nth-child(odd) {
  padding:10px 10px 10px 10px;
}
.search-div div:nth-child(2) {
  border-right: 1px solid rgb(230, 221, 221);
  border-left: 1px solid rgb(230, 221, 221);
  padding:5px;
}
.search-div div:nth-child(2) p {
  color:rgba(128, 128, 128, 0.5);
  font-size: small;
}
.search-div div:nth-child(1) p {
  font-size: small;
}
.search-div div:nth-child(3) {
  color:rgb(252, 47, 47);
  display:flex;
  align-items: center;
}
.nav-content {
  display:flex;
  justify-content: space-between;
  gap: 10px;
}
/* header */
.header-content {
  display:flex;
  justify-content: space-between;
}
.header-content div:nth-child(1) {
  padding-left:60px;
  align-self: center;
}
.header-content div:nth-child(1) h1 {
  font-size:x-large;
  color:rgb(46, 44, 44);
}
.header-content div:nth-child(2) {
  padding-right:50px;
  align-self: center;
}
.header-content div:nth-child(2) p {
  align-self: center;
  font-size:small;
  color:gray;
}
/* rooms */
.room-main {
  margin-top:5vh;
  padding:2vh;
}
.room-content {  
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  gap:2vh;
  row-gap: 5vh;
}
.room-card {
  max-width: 350px;
  overflow: hidden;
  cursor:pointer;
  border-radius:30px;
}
.room-image {
  width:100%;
  height:100%;
  object-fit: cover;
  object-position: center;
}
.room-image-container {
  width:350px;
  height:250px;
  overflow:hidden;
}
.room-image:hover {
  transform: scale(1.1);
  transition:0.5s;
  overflow:hidden;
}
.superhost {
  font-weight:bold;
  font-size:small;
  color:rgb(54, 52, 52);
  padding:5px ;
  border-radius:50px;
  border:1.5px solid rgb(54, 52, 52);
  margin-right:10px;
}
.card-header {
  display:flex; 
  align-items: center;
  padding:10px;
  position:relative;
}
.room-type {
  display:flex;
  color:gray;
  font-size:small;
  padding-top:5px;
  padding-bottom:5px;
}
.star {
  width:20px;
  fill:rgb(231, 54, 54);
}
.rating {
  display:flex;
  align-items: center;
  position:absolute;
  right:0;
}
.rating p {
  color:gray;
  font-size:small;
}
.room-title {
  margin-left:4%;
  color: rgb(53, 51, 51); 
  font-size:small;
}
/* footer */
footer {
  text-align: center;
  font-size:15px;
  padding:25px;
  color:rgb(58, 54, 54);
}
/* modal */
.modal-container {  
  width:100%;
  padding:1vh;
  position:absolute;
  top:0;
  background:white;
  height:400px; 
}
.search-modal {
  display:flex;
  width:80%;
  justify-content: space-around;
  border-radius:20px;
  border:1px solid rgb(224, 208, 208);
  box-shadow: 10px 10px 10px rgb(233, 224, 224);
  padding:1vh;
  margin-left:auto;
  margin-right:auto;
  position:relative;
}
.modal-sub {
  border-right:1px solid rgb(224, 212, 212);
  width:50%;
  padding:5px;
  cursor:pointer;
  position:relative;
}
.modal-exit {
  display:flex;
  justify-content: center;
  align-items:center;
  cursor:pointer;
}
.modal-content {
  width:100%;
  display:flex;
  justify-content: space-between;
}
.caret-down {
  width:20px;
  align-self: center;
}
.modal-content span {
  font-size:x-small;
  font-weight:bold;
  margin-left:10px;
}
.search-modal div button {
  background:rgb(255, 109, 109);
  color:white;
  display:flex;
  justify-content: center;
  align-items:center;
  border:none;
  border-radius:10px; 
  padding:5px;
  width:100px;
  cursor:pointer;
}
.modal-button {
  padding-left:20px;
  display:flex;
  align-self:center;
  justify-content: center;
  align-items:center;
}
.location {
  color:rgb(78, 74, 74);
  font-size:normal;
  margin-top:20px;
}
.locations {
  display:flex;
  margin-top:12px;
}
.location-container {
  position:absolute;
  width:100%;
  border-radius:10px;
  left:0;
  padding:10px;
}

.adult-btn,
.child-btn {
  display:flex;
  width:30%;
  gap:1vh;
}
.guest-content h3 p {
  font-size:small;
}
.guest-title {
  font-size:small;
}
.guest-subtitle {
  font-size:small;
  color:gray;
}
.guest-container {
  position:absolute;
  top:100%;
  margin-top:12px;
}
.guest-content {
  margin-top:10px;
  margin-left:10px;
}
.exit {
  width:30px;
  align-self: center;
  position:absolute;
  right:20px;
  color:rgb(255, 104, 104);
}
